# Dependencies
node_modules/

# Builds
dist/
.next/
out/
build/
.nest/

# Prisma generated client
**/src/generated/prisma/

# Tests
coverage/

# Env files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Misc
*.tsbuildinfo
uploads/
